*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial;
}

body{
    background:linear-gradient(135deg,#1d1d1d,#2b2b2b);
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    padding:20px;
}

.login-container{
    width:100%;
    display:flex;
    justify-content:center;
    align-items:center;
}

.login-card{
    background:white;
    width:380px;
    padding:50px;
    border-radius:20px;
    text-align:center;
    box-shadow:0 10px 30px rgba(0,0,0,0.3);
}

.icono{
    font-size:50px;
    color:#e63946;
    margin-bottom:20px;
}

.login-card h1{
    margin-bottom:10px;
}

.login-card p{
    color:gray;
    margin-bottom:20px;
}

.input-group{
    background:#f3f4f6;
    display:flex;
    align-items:center;
    padding:15px;
    border-radius:10px;
    margin-top:20px;
}

.input-group i{
    margin-right:10px;
    color:gray;
}

.input-group input{
    border:none;
    background:none;
    width:100%;
    outline:none;
    font-size:15px;
}

button{
    width:100%;
    margin-top:30px;
    padding:15px;
    border:none;
    background:#e63946;
    color:white;
    border-radius:10px;
    cursor:pointer;
    font-size:16px;
    transition:0.3s;
}

button:hover{
    background:#c1121f;
}

/* ===== RESPONSIVE ===== */

@media screen and (max-width: 480px){

    .login-card{
        width:100%;
        padding:35px 20px;
    }

    .icono{
        font-size:40px;
    }

    .login-card h1{
        font-size:32px;
    }

    .input-group{
        padding:12px;
    }

    button{
        padding:14px;
    }

}
